{% extends 'base.html' %}


<!-- Head -->
{% block head %}
    <title>Open Projects</title>
{% endblock %}


<!-- Top -->
{% block top %}
    <div>
        <p id="subp">Trashed Projects</p>
        {% for image in images %}
            {% if userid|string == image.user_id|string %}
                <img src="data:image/png;base64,{{ image.image }}" alt="Image" class="pfp" onclick="pfp_modal(   )">
            {% endif %}
        {% else %}
            <img src=" {{ url_for('static', filename='icons/profile.svg') }} " alt="" onclick="pfp_modal() ">
        {% endfor %}
    </div>
{% endblock %}


<!-- Panel -->
{% block panel %}
    <div class="user-details">
        <img src=" {{ url_for('static', filename='icons/profile.svg') }} " alt="" class="profile">
        <br>
        <p class="name"> {{ name }}</p>
        <p class="departement">Admin</p>
        <br>
        <br>
    </div>
    <div class="links">
        <a href="{{ url_for('admin') }}">
            <img src="{{ url_for('static', filename='icons/dashboard.svg') }}" alt="">
            <p>Dashboard</p>
        </a>
        <br>
        <a  href="{{url_for('admin_staff')}}">
            <img src="{{ url_for('static', filename='icons/staff.svg') }}" alt="">
            <p>Staff</p>
        </a>
        <br>
        <a onclick="project_nav()" class="active">
            <img src="{{ url_for('static', filename='icons/folder.svg') }}" class="proj" alt="" id="folder">
            <p>Projects </p>
        </a>
        <ul id="projects">
            <li>
                <a href="{{url_for('admin_open_project')}}">
                    <img src=" {{ url_for('static', filename='icons/project.png') }} " alt="">
                    <p>Open</p>
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin_finish_project') }}">
                    <img src="{{url_for('static', filename='icons/finished-project.png')}}" alt="">
                    <p>Finished</p>
                </a>
            </li>
            <li>
                <a class="active">
                    <img src="{{ url_for('static', filename='icons/trashed-project.png') }}" alt="">
                    <p>Trashed</p>
                </a>
            </li>
        </ul>
        <br>
        <a>
            <img src="{{ url_for('static', filename='icons/notification.svg') }}" alt="">
            <p>Notification</p>
        </a>
    </div>
{% endblock %}


<!-- nav2 -->
{% block nav2 %}
    <div class="icon-link">
        <br>
        <a>
            <img src=" {{ url_for('static', filename='icons/menu_open.svg') }}" alt="" class="nav-button" onclick="nav_control()" id="open">
        </a>
        <br>
        <br>
        <a href="{{url_for('admin')}}">
            <img src="{{ url_for('static', filename='icons/dashboard.svg') }}" alt="">
        </a>
        <br>
        <a href="{{ url_for('admin_staff'  ) }}">
            <img src="{{ url_for('static', filename='icons/staff.svg') }}" alt=""  >
        </a>
        <br>
        <a onclick="project_nav()">
            <img src="{{ url_for('static', filename='icons/folder.svg') }}" class="proj active-icon" alt="" id="folder">
        </a>
        <ul id="project-icon">
            <li>
                <a href="{{url_for('admin_open_project')}}">
                    <img src=" {{ url_for('static', filename='icons/project.png') }} " alt="">
                </a>
            </li>
            <li>
                <a href="{{ url_for('admin_finish_project') }}">
                    <img src="{{url_for('static', filename='icons/finished-project.png')}}" alt="">
                </a>
            </li>
            <li>
                <a >
                    <img src="{{ url_for('static', filename='icons/trashed-project.png') }}" alt="" class="active-icon">
                </a>
            </li>
        </ul>
        <a>
            <img src="{{ url_for('static', filename='icons/notification.svg') }}" alt="">
        </a>
    </div>
{% endblock %}


<!-- Main -->
{% block main %}
    <div class=project-main>
        <div class="project-head">
            <h1>Project List</h1>
        </div>
        <br>
        <br>
        {% for project in projects %}

            {% if project.project_status == "Trash" %}
                <details>
                    <summary>
                        <div class="proj-details" onclick="update_project_modal('{{project._id|string ~ 3}}')">
                            {{ project.project_name }} | {{project.project_department}} | Trashed
                        </div>
                        <div class="modal-bg" id="{{project._id|string ~ 3}}">
                            <div class="modal">                                                                                                                         
                                <div class="modal-content">
                                    <p>Project Name : {{ project.project_name }}</p>
                                    <br>
                                    <p>Project Description : {{ project.project_description }}</p>
                                    <br>
                                    <p>Project Creator : {{ project.project_creator }} </p>
                                    <br> 
                                    <p>Project Progress : {{ project.progress }}</p>
                                    <button onclick="update_project_modal('{{project._id|string ~ 3}}')">close</button>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button onclick="trash_project_modal('{{project._id|string ~ 1}}')">Recover</button>
                            <button onclick="trash_project_modal('{{project._id|string ~ 2}}')">Permanently Delete</button>
                            
                            <div class="modal-bg" id="{{project._id|string ~ 1}}">
                                <div class="modal">
                                    <div class="modal-content">
                                        <h1>{{project.project_name}}</h1>
                                        <form action="{{ url_for('recover_open', id = project['_id']  ) }}" method="POST">
                                            <button type="submit">Open</button>
                                        </form>
                                        <form action="{{ url_for('recover_finish', id = project['_id'] ) }}" method="POST">
                                            <button type="submit">Finish</button>
                                        </form>
                                        <br>
                                        <button onclick="trash_project_modal('{{project._id|string ~ 1}}')">close</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-bg" id="{{project._id|string ~ 2}}">
                                <div class="modal">
                                    <div class="modal-content">
                                        <h1>{{project.project_name}}</h1>
                                        <form action="{{ url_for('delete_project', id = project['_id']) }}" method="POST">
                                            <button type="submit">Delete</button>
                                        </form>
                                        <button onclick="trash_project_modal('{{project._id|string ~ 2}}')">close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </summary>
                    <div class="table-container" >

                        <table> 
                            <tr>
                                <th>Task Name</th>
                                <th>Assigned To</th>
                                <th>Status</th>
                                <th>Start Date</th>
                                <th>Estimate End</th>
                            </tr>
                            {% for task in tasks %}

                                {% if project._id|string == task.project_id|string  %}
                            <tr>
                                <td onclick="update_project_modal('{{task._id|string ~ 1}}')" > {{ task.task_name }} </td>
                                <td> 
                                    {% for ass in task.assigned_to %}
                                        {{ ass }},
                                    {% endfor %}
                                </td>
                                <td> {{ task.task_status }} </td>
                                <td> {{ task.start_date }} </td>
                                <td> {{ task.due_date }} </td>
                                <div class="modal-bg" id="{{task._id|string ~ 1}}">
                                    <div class="modal">
                                        <div class="modal-content">
                                            <p>Task Name : {{ task.task_name }}</p>
                                            <br>
                                            <p>Task Description : {{ task.task_description }}</p>
                                            <br>
                                            <p>Task Creator : {{ task.task_creator }} </p>
                                            <br> 
                                            <button onclick="update_project_modal('{{task._id|string ~ 1}}')">close</button>
                                        </div>
                                    </div>
                                </div>
                            </tr>
                                {% endif  %}
                                
                            {% endfor %}
                        </table>
                    </div>
                </details>
                <br>
            {% endif %}
        {% endfor %}


    </div>
{% endblock %}


<!-- Body -->
{% block body %}
    <div class="prof-modal" id="user-modal">
        <div class="pfp-modal"> 
            <div class="user-content">
                <div class="user-modal user">
                    {% for image in images %}
                        {% if userid|string == image.user_id|string %}
                            <img src="data:image/png;base64,{{ image.image }}" alt="Image" class="pfp">
                        {% endif %}
                    {% endfor %}
                    <br>
                    <p class="name"> {{ name }}</p>
                    <p class="departement">Admin</p>
                    <br>
                    <br>
                </div>
                <a onclick="settings_modal()">
                    <img src="{{ url_for('static', filename='icons/settings.svg') }}" alt="">
                    <p>Settings</p>
                </a>
                <a href=" {{ url_for('logout') }} ">
                    <img src="{{ url_for('static', filename='icons/logout.svg') }}" alt="">
                    <p>Logout</p>
                </a>
            </div>
        </div>
    </div>

    <div class="modal-bg" id="settings">
        <div class="modal">
            <div class="modal-content setting-modal">
                <div class="update-modal-container ">
                    <div>
                        <form action=" {{url_for('admin_setting_account', id = userid )}} " method="POST" enctype="multipart/form-data">
                            <label for="">Profile Picture</label>
                            <br>
                            {% for image in images %}
                                {% if userid|string == image.user_id|string %}
                                    <img src="data:image/png;base64,{{ image.image }}" alt="Image" class="edit-pfp">
                                {% endif %}
                            {% endfor %}
                            <br>
                            <br>
                            <input type="file" name="image" id="">
                            <br>
                            <br>
                            <div class="up-pfp">
                                <button type="submit">Upload Profile</button>
                            </div>
                        </form>
                        <br>
                        <form action=" {{ url_for('admin_remove_image', id=userid) }} " method="POST">
                            <div class="rem-pfp">
                                <button type="submit">Remove Profile</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    <div>
                        <form action=" {{ url_for('account_setting_update', id = userid) }} " method="POST" enctype="multipart/form-data">
                            <label for="">Name<aste-ricks>*</aste-ricks></label>
                            <br>
                            <input type="text" name="name" id="" class="staff-input" value="">
                            <br>
                            <br>
                            <div class="staff-input-flex">
                                <div>
                                    <label for="">Username<aste-ricks>*</aste-ricks></label>
                                    <br>
                                    <input type="text" name="username" id="" class="staff-input" value="">
                                </div>
                                <div>
                                    <label for="">Password<aste-ricks>*</aste-ricks></label>
                                    <br>
                                    <input type="text" name="password" id="" class="staff-input" value="">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="regi-butt">
                                <button type="submit">Update</button>
                                <button type="button" onclick=" settings_modal()">close</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <br>
                
            </div>
        </div>
    </div>
{% endblock %}