<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/base.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/admin/staff.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/admin/projects.css') }} ">
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/modals.css') }} ">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Select2 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    
    <!-- Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    <script src=" {{ url_for('static', filename='js/app.js') }}"></script>
    {% block head %} {% endblock %}
</head>
<body id="body">
    <div class="top" id="top">
        <img src=" {{ url_for('static', filename='icons/menu_open.svg') }}" alt="" class="nav-button-big" onclick="nav_control()" id="open">
        {% block top %} {% endblock %}
    </div>
    <nav id="nav-menu">
        <div class="user-panel">
            <br>
            <img src="{{ url_for('static', filename='icons/menu_close.svg') }}" alt="" class="nav-button close" onclick="nav_control()">
            <br>
            {% block panel %} {% endblock %}
        </div>
        <div>
            <br>
            <br>
            <div class="user-control">
                <a onclick="">
                    <img src="{{ url_for('static', filename='icons/settings.svg') }}" alt="">
                    <p>Settings</p>
                </a>
                <a href=" {{ url_for('logout') }} ">
                    <img src="{{ url_for('static', filename='icons/logout.svg') }}" alt="">
                    <p>Logout</p>
                </a>
            </div>
        </div>
    </nav>
    <div class="nav2" id="nav2">
        
        {% block nav2 %} {% endblock %}
    </div>
    <main id="main">
        {% block main %} {% endblock %}
    </main>     
    {% block body %} {% endblock %}

    
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</body>
</html>