{% extends 'base.html' %}

{% block head %}
    <title>Staff</title>
{% endblock %}
<!-- Top -->
{% block top %}
<div>
    <p id="subp">{{user_dept}} Staff : {{name}}  </p>

    {% for image in images if userid|string == image.user_id|string %}
        <img src="data:image/png;base64,{{ image.image }}" alt="Image" class="pfp" onclick="pfp_modal()">
    {% else %}
        <img src=" {{ url_for('static', filename='icons/profile.svg') }} " alt="" onclick="pfp_modal() ">
    {% endfor %}
    
</div>
{% endblock %}
<!-- Panels -->
{% block panel %}
    <div class="user-details">
        <img src=" {{ url_for('static', filename='icons/profile.svg') }} " alt="" class="profile">
        <br>
        <p class="name"> {{ name }}</p>
        <p class="departement"> {{user_dept}} Manager</p>
        <br>
        <br>
    </div>
    <div class="links">
        <a class="active">
            <img src="{{ url_for('static', filename='icons/notification.svg') }}" alt="">
            <p>Notification</p>
        </a>
        <br>
        <a onclick="project_nav()">
            <img src="{{ url_for('static', filename='icons/folder.svg') }}" class="proj" alt="" id="folder">
            <p>Projects </p>
        </a>
        <ul id="projects">
            <li>
                <a href=" {{ url_for('staff_open_proj') }} ">
                    <img src=" {{ url_for('static', filename='icons/project.png') }} " alt="">
                    <p>Open</p>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

<!-- NAv2 -->
{% block nav2 %}
    <div class="icon-link">
        <br>
        <a>
            <img src=" {{ url_for('static', filename='icons/menu_open.svg') }}" alt="" class="nav-button" onclick="nav_control()" id="open">
        </a>
        <br>
        <br>
        <br>
        <br>
        <a>
            <img src="{{ url_for('static', filename='icons/notification.svg') }}" alt="" class="active-icon">
        </a>
        <br>
        <a onclick="project_nav()">
            <img src="{{ url_for('static', filename='icons/folder.svg') }}" class="proj" alt="" id="folder">
        </a>
        <ul id="project-icon">
            <li>
                <a  href="{{ url_for('staff_open_proj' ) }}">
                    <img src=" {{ url_for('static', filename='icons/project.png') }} " alt="">
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

<!-- Main -->
{% block main %}

{% endblock %}

<!-- Body -->
{% block body %}
<div class="prof-modal" id="user-modal">
    <div class="pfp-modal"> 
        <div class="user-content ">
            <div class="user-modal user">
                {% for image in images %}
                    {% if userid|string == image.user_id|string %}
                        <img src="data:image/png;base64,{{ image.image }}" alt="Image" class="pfp">
                    {% endif %}
                {% endfor %}
                <br>
                <p class="name"> {{ name }}</p>
                <p class="departement">{{ user_dept }} Staff</p>
                <br>
                <br>
            </div>
            <a onclick="settings_modal()">
                <img src="{{ url_for('static', filename='icons/settings.svg') }}" alt="">
                <p>Settings</p>
            </a>
            <a href=" {{ url_for('logout') }} ">
                <img src="{{ url_for('static', filename='icons/logout.svg') }}" alt="">
                <p>Logout</p>
            </a>
        </div>
    </div>
</div>

    <div class="modal-bg" id="settings">
        <div class="modal">
            <div class="modal-content setting-modal">
                <div class="update-modal-container ">
                    <div>
                        <form action="{{ url_for('man_account_image', id = userid) }}" method="POST" enctype="multipart/form-data">
                            <label for="">Profile Picture</label>
                            <br>
                            {% for image in images %}
                                {% if userid|string == image.user_id|string %}
                                    <img src="data:image/png;base64,{{ image.image }}" alt="Image" class="edit-pfp">
                                {% endif %}
                            {% endfor %}
                            <br>
                            <br>
                            <input type="file" name="image" id="">
                            <br>
                            <br>
                            <div class="up-pfp">
                                <button type="submit">Upload Profile</button>
                            </div>
                        </form>
                        <br>
                        <form action="{{ url_for('man_remove_image', id = userid) }}" method="POST">
                            <div class="rem-pfp">
                                <button type="submit">Remove Profile</button>
                            </div>
                        </form>
                    </div>
                    <br>
                    <br>
                    <div>
                        <form action=" {{ url_for('account_setting_update', id = userid) }} " method="POST" enctype="multipart/form-data">
                            <label for="">Name<aste-ricks>*</aste-ricks></label>
                            <br>
                            <input type="text" name="name" id="" class="staff-input" value="{{name}}">
                            <br>
                            <br>
                            <div class="staff-input-flex">
                                <div>
                                    <label for="">Username<aste-ricks>*</aste-ricks></label>
                                    <br>
                                    <input type="text" name="username" id="" class="staff-input" value="">
                                </div>
                                <div>
                                    <label for="">Password<aste-ricks>*</aste-ricks></label>
                                    <br>
                                    <input type="text" name="password" id="" class="staff-input" value="">
                                </div>
                            </div>
                            <br>
                            <br>
                            <div class="regi-butt">
                                <button type="submit">Update</button>
                                <button type="button" onclick=" settings_modal()">close</button>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </div>
{% endblock %}