.project-main {
    width: 90%;
    height: 100%;
    margin: auto;
    overflow: auto;
    padding: 20px;
}
.project-head {
    display: flex;
    justify-content: space-between;
}
.proj-details {
    color: white;
}
details {
    border: 1px solid black;    
}
details summary {
    margin: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(78, 78, 78, 0.7);
    border-radius: 10px;
    padding: 20px;

}
.table-container {
    overflow: auto;
    padding: 10px;
    background-color:rgba(105, 104, 104, 0.3);
    border-radius: 10px;
}
.no-animation:hover {
    transform: none;
}
.none {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center ;
}
.option {
    color: black !important;
    background-color: black;
}